{% extends "layout/layout.html.twig" %}

{% block title %} CRUD Medalhas {% endblock %}

{% block content %}
    <!-- importamos o template desejado -->
    <div class="container">
        <h2>
            {{ titulo }}
           valor: {{ data.name }}
           valos: {{ name }}
        </h2>
        <div class="card card-default">
            <div class="card-header">Formulário de cadastro de categorias</div>
            <div class="card-body">
                <form action="{{ base_url() }}{{ path_for('categories.store') }}" method="post">
                    <div class="form-group">
                        <label for="name">Nome da Categoria:</label>
                        <input type="text" class="form-control" id="name"
                               name="name" value="{{ data.name }}"
                               placeholder="Enter name category">
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição da Categoria:</label>
                        <input type="text" class="form-control" id="descricao"
                               name="descricao" aria-describedby="emailHelp"
                               placeholder="Enter with description">
                        <small id="emailHelp" class="form-text text-muted">Entre com uma breve resumo da categoria.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="precedencia">Descrição da Categoria:</label>
                        <input type="number" class="form-control" name="precedencia" id="precedencia" min="0" step="1"/>
                    </div>
                    <button type="submit" class="btn btn-secondary">
                        <i class="fa fa-plus"></i>
                        Cadastrar
                    </button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
